div.surface {
  width: 700px;
  margin: 0;
  padding: 0;
  display: flex;

  &.gameover{
    &::before{
      content: "GAME OVER!";
      position: absolute;
      width: 100vh;
      height: 100vh;
      font-size: 2rem;
      font-weight: bold;
    }
    pointer-events: none;
    cursor: not-allowed;
    div.desk-wrapper{
      opacity: 0;
    }
    div.enemy-desk-wrapper{
      opacity: 0;
    }
  }

  div.desk-wrapper{
    flex-basis: 50%;
    canvas#desk {
      background: #000;
    }
  }

  div.enemy-desk-wrapper{
    flex-basis: 50%;
  }
}