div.surface {
  width: 700px;
  margin: 0;
  padding: 0;
  display: flex;

  &.disabled{
    pointer-events: none;
    cursor: not-allowed;
  }

  div.desk-wrapper{
    flex-basis: 50%;
    canvas#desk {
      background: #000;
    }
  }

  div.enemy-desk-wrapper{
    flex-basis: 50%;
  }
}